@import url("https://fonts.googleapis.com/css?family=Catamaran:400,700|Grand+Hotel");

/* overriding prefixes */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* setting up css variables in root  */
:root {
  --standardText: "Grand Hotel", "cursive";
  --primaryColor: #698f3f;
  --secondaryColor: #fca311;
  --mainDark: #3a3e3b;
  --mainWhite: #ffffff;
  --mainGray: #e5e5e5;
  --mainTransition: all 0.5s ease-in-out;
  --letterSpacing: 0.5rem;
}

body {
  font-family: "Catamaran";
  line-height: 1.5;
}

/* helpers/utility classes */
/* the purpose of these classes is to write reuseable code  */
a {
  text-decoration: none;
}

.text-white {
  color: var(--mainWhite);
}

.text-center {
  text-align: center;
}
.text-primary {
  color: var(--primaryColor);
}

/* clear fix (will come in handy when working with flots) */
/* code snippet taken from w3school */
.clearfix::before,
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
/* globals */
.section-center {
  padding: 4rem 0;
  width: 80vw;
  max-width: 1170px;
  margin: 0 auto;
}
.section-subtitle {
  font-size: 2rem;
  font-family: var(--standardText);
  letter-spacing: var(--letterSpacing);
  text-transform: capitalize;
  color: var(--primaryColor);
}
.section-title {
  font-size: 4rem;
  text-transform: capitalize;
}
/* nav-btn */
.nav-btn{
  position: fixed;
  z-index: 1;
  font-size: 2rem;
  color: var(--primaryColor);
  top: 0%;
  left:0%;
  margin: 2rem 1rem;
  animation: bounce 2s ease-in-out  infinite;
}
/* animation bounce */
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
/* navbar */
.nav-bar{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  background: var(--mainGray);
  padding-top: 2rem;
  padding-left: 2rem;
  transition: var(--mainTransition);
  /* transform */
  transform: translateX(-100%);
}
.show-nav{
  transform: translateX(0);
}
.nav-close{
  font-size: 2rem;
  cursor: pointer;
}
.nav-items{
  list-style-type: none;
}
.nav-link{
  display: block;
  color: var(--primaryColor);
  text-transform: capitalize;
  font-size: 2rem;
  transition: var(--mainTransition);
}
.nav-link:hover{
  color: var(--mainDark);
  padding-left: 0.5rem;
}

@media screen and (min-width: 768px) {
  .nav-bar{
    width: 30vw;
    max-width: 20rem;
  }
}
/* end of navbar */

/* header */
.header {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("/images/main-bcg.jpeg") center/cover no-repeat fixed;
  position: relative;
}

.banner {
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  letter-spacing: var(--letterSpacing);
}

.banner-subtitle {
  font-size: 2rem;
  font-family: var(--standardText);
  color: var(--primaryColor);
  /* animation */
  animation: slideFromRight 5s ease-in-out 1;
}

.banner-title {
  text-transform: uppercase;
  font-size: 3.2rem;
  color: var(--mainWhite);
  margin-top: 2.5rem;
  line-height: 1.2;
  /* animation */
  animation: slideFromLeft 5s ease-in-out 1;
}

.main-btn,
.banner-btn {
  display: inline-block;
  text-transform: uppercase;
  background: var(--primaryColor);
  color: var(--mainDark);
  padding: 0.8rem 1.2rem;
  outline: 0.2rem solid var(--primaryColor);
  outline-offset: 4px;
  cursor: pointer;
  margin-top: 2rem;
  transition: var(--mainTransition);
}
.main-btn:hover,
.banner-btn:hover {
  color: var(--mainWhite);
  opacity: 0.7;
}
.banner-btn {
  padding: 1.2rem 1.5rem;
  /* animations  */
  animation: show 5s ease-in-out 1;
}

/* animations(header)  */
@keyframes show {
  0% {
    opacity: 0;
    transform: scale(2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes slideFromRight {
  0% {
    transform: translateX(50%);
  }
  50% {
    transform: translateX(-200px);
  }
  75% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes slideFromLeft {
  0% {
    transform: translateX(-50%);
  }
  50% {
    transform: translateX(200px);
  }
  75% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(0px);
  }
}
/* end of animations(header) */

/* end of header */

/* conrent divider */
.content-divider {
  height: 0.5rem;
  background: linear-gradient(
    to left,
    var(--primaryColor),
    var(--secondaryColor),
    var(--primaryColor)
  );
}
/* end of content divider */

/* skills section */

.skills {
  background: var(--mainGray);
}
.skill {
  padding: 2.5rem 0;
  text-align: center;
  transition: var(--mainTransition);
}

.skill-icon {
  font-size: 2.5rem;
  margin-bottom: 1.5rem; /*margin bottom only works with block elements*/
  transition: var(--mainTransition);
  display: inline-block;
}
.skill-title {
  font-size: 0.9rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  color: var(--primaryColor);
  letter-spacing: var(--letterSpacing);
  transition: var(--mainTransition);
}

.skill-text {
  max-width: 13rem;
  margin: 0 auto;
}
.skill:hover {
  background: var(--primaryColor);
  /* transition: var(--mainTransition); */
}
.skill:hover .skill-title {
  color: var(--mainWhite);
}
.skill:hover .skill-icon {
  transform: translateY(-10px);
}

@media screen and (min-width: 576px) {
  .skills {
    background: var(--mainGray);
  }
  .skill {
    float: left;
    width: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .skill {
    float: left;
    width: 25%;
  }
  .skills {
    background: var(--mainGray);
  }
}
/* end of skills sections */

/* about section */
.about-img,
.about-info {
  padding: 2rem 0;
}
.about-picture-container {
  background: var(--primaryColor);
  border: 0.5rem solid var(--primaryColor);
  border-radius: 1rem;
  /* overflow */
  overflow: hidden;
}
.about-picture {
  width: 100%;
  display: block;
  transition: var(--mainTransition);
}
.about-picture-container:hover .about-picture {
  transform: scale(1.1);
  opacity: 0.8;
}
.about-picture {
  width: 100%;
  display: block;
}
.about-text {
  margin: 1rem 0;
  max-width: 26rem;
}

@media screen and (min-width: 992px) {
  .about-img,
  .about-info {
    float: left;
    width: 50%;
    padding: 2rem;
  }
}
/* end of about section  */
/* product section */
.products {
  background: var(--mainDark);
}
.products-info,
.products-inventory {
  padding: 2rem 0;
}
.product-text {
  color: var(--mainWhite);
  margin: 1rem 0;
  max-width: 26rem;
}
.product-img {
  width: 100%;
  display: block;
  transition: var(--mainTransition);
  border-radius: 0.4rem;
  margin-bottom: 2rem;
}
.product {
  padding: 2rem 0;
}
.product-title {
  color: var(--mainWhite);
  font-size: 2rem;
  letter-spacing: var(--letterSpacing);
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.product-price {
  color: var(--primaryColor);
  font-size: 1.2rem;
  font-family: var(--standardText);
  margin-bottom: 1rem;
  letter-spacing: var(--letterSpacing);
}
@media screen and (min-width: 768px) {
  .product {
    width: 50%;
    float: left;
    /* margin-right: 1rem; */
    padding-right: 2rem;
  }
}
@media screen and (min-width: 992px) {
  .product {
    width: 33%;
    float: left;
    /* margin-right: 1rem; */
    padding-right: 2rem;
  }
}
@media screen and (min-width: 1200px) {
  .products-info {
    float: left;
    width: 30%;
    padding-right: 2rem;
  }
  .products-inventory {
    width: 70%;
    float: left;
    padding-right: 2rem;
  }
}
/* end product section  */
/* contact section */
.contact-info {
  padding: 2rem 0;
}
.contact-item {
  margin-bottom: 2rem;
}
.contact-title {
  color: var(--primaryColor);
  font-size: 2rem;
  font-family: var(--standardText);
  letter-spacing: calc(var(--letterSpacing) * 2);
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.contact-text {
  color: var(--mainDark);
  font-size: 1.5rem;
  text-transform: uppercase;
}
.form-control {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 2.5px solid var(--primaryColor);
  padding: 1rem 0;
  font-size: 1.3rem;
  color: var(--mainDark);
  outline: none;
  font-weight: bold;
}

.form-control::placeholder {
  color: var(--primaryColor);
  letter-spacing: var(--letterSpacing);
  text-transform: uppercase;
}

@media screen and (min-width: 992px) {
  .contact-info,
  .contact-form {
    float: left;
    width: 50%;
    padding: 0 1rem;
    margin-top: 1.5rem;
  }
}
/* end of contact */
/* footer */
.footer {
  background: var(--mainDark);
  color: var(--mainWhite);
  padding: 2rem 0;
  text-align: center;
}
.social-icon{
  color: var(--mainWhite);
  font-size: 1.5rem;
  margin-right: 1rem;
  transition: var(--mainTransition);
  margin-bottom: 1rem;
}
.social-icon:hover {
  color: var(--primaryColor);
  font-size: 2rem;
}
/* end of footer */